body {
    text-align: center;
    color: lightgray;
    background-color: #202020;
}

table {
    width: 100%
}

#stats-table {
    font-size: clamp(10px, 4vw, 40px);
}

h1 {
    font-size: clamp(20px, 4vw, 50px);
    margin: 20px 0px;
}

th, td {
    border: 1px solid gray;
    padding: 5px;
}

.add-title {
    margin-top: 70px;
}

td:has(#image-input), td:has(#pool-input) {
    width: 30%
}

td:has(#name-input), td:has(#owned-input) {
    width: 50%
}

td:has(#cost-input), td:has(#power-input), td:has(#released-input), td:has(#submit-card) {
    width: 10%
}

#description-input {
    width: 97%;
}

#image-input, #pool-input {
    width: 100%;
}

#cost-input, #power-input, #name-input {
    width: 85%;
}

#filters {
    background-color: rgb(70, 70, 70);
    border-radius: 30px;
    padding: 1px;
    margin: 20px 0px;
}

#filters div {
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
    background-color: rgb(161, 161, 161);
    border-radius: 30px;
    border: 1px solid black;
    padding: 8px 10px 3px;
}

#filters a {
    font-size: clamp(10px, 4vw, 80px);
    margin: 5px;
}

nav {
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
}

nav a {
    font-size: clamp(10px, 5vw, 100px);
    margin: 10px 0px;
}

nav input {
    background-color: green;
    border: 1px solid black;
/*     width: 60px; */
/*     height: 18px; */
    font-size: clamp(8px, 1vw, 35px);
    margin: 1px;
    border-radius: 30px;
    cursor: pointer;
}

a:hover, nav input:hover  {
    background-color: white;
}

.dataTables_filter input, .dataTables_length select {
    color: white;
    margin-bottom: 10px;
}

.active {
    background-color: yellow;
}

img {
    max-width: 100%;
    height: auto;
}