body {
    text-align: center;
    background-color: rgb(22, 19, 19);
    color: lightgray;
}

table {
    width: 100%
}

th, td {
    border: 1px solid gray;
    padding: 5px;
}

#add-card-title {
    margin-top: 80px;
}

#add-card-form {
    width: 100%;
    margin-bottom: 80px;
}

#image-input {
    width: 180px;
}

#cost-input, #power-input {
    width: 40px;
}

#description-input {
    width: 300px;
}

img {
    height: 300px;
    width: 300px;
}

a {
    text-decoration: none;
    color: black;
    background-color: rgb(161, 161, 161);
    border-radius: 30px;
    border: 1px solid black;
    padding: 0px 10px;
}

#filters {
    background-color: rgb(70, 70, 70);
    font-size: 30px;
    border-radius: 30px;
    padding: 5px;
}

#filters div {
    margin: 10px;
}

nav {
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    /* margin-bottom: 60px; */
    border-radius: 30px;
}

nav a {
    margin: 10px 0px;
}

.dataTables_filter input, .dataTables_length select {
    color: white;
    margin-bottom: 10px;
}