body {
    text-align: center;
}

table {
    width: 100%
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

#add-card {
    width: 100%;
    margin-bottom: 40px;
}

#image-input {
    width: 180px;
}

#cost-input, #power-input {
    width: 40px;
}

#description-input {
    width: 300px;
}

img {
    height: 300px;
    width: 300px;
}

nav {
    background-color: rgb(237, 237, 123);
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    font-size: 60px;
    margin-bottom: 40px;
}

nav a {
    background-color: rgb(224, 228, 16);
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    border: 1px solid black;
    margin: 10px 0px;
}