body {
    text-align: center;
    background-image: linear-gradient(to right, black, #404040);
    color: lightgray;
}

table {
    width: 100%
}

th, td {
    border: 1px solid gray;
    padding: 5px;
}

#add-card-title {
    margin-top: 80px;
}

#add-card-form {
    width: 100%;
    margin-bottom: 80px;
}

td:has(#image-input), td:has(#name-input), td:has(#pool-input) {
    width: 10%
}

td:has(#cost-input), td:has(#power-input), td:has(#owned-input), td:has(#submit-card) {
    width: 5%
}

td:has(#description-input) {
    width: 50%
}

#image-input, #description-input {
    width: 98%;
}

#cost-input, #power-input {
    width: 85%;
}

img {
    height: 300px;
    width: 300px;
}

#filters {
    background-color: rgb(70, 70, 70);
    border-radius: 30px;
    padding: 1px;
}

#filters div {
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
    background-color: rgb(161, 161, 161);
    border-radius: 30px;
    border: 1px solid black;
    padding: 8px 10px 3px;
}

#filters a {
    font-size: clamp(10px, 4vw, 80px);
    margin: 5px;
}

nav {
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
}

nav a {
    font-size: clamp(10px, 5vw, 100px);
    margin: 10px 0px;
}

.dataTables_filter input, .dataTables_length select {
    color: white;
    margin-bottom: 10px;
}

.active {
    background-color: yellow;
}