<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/snap-logo.png' %}">
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Snap</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav>
        <a href="{% url 'snap:index' %}" {% if request.path|slice:"6:11" == 'cards' %} class="active" {% endif %} >Cards</a>
        <a href="{% url 'snap:stats' %}" {% if request.path|slice:"6:11" == 'stats' %} class="active" {% endif %} >Stats</a>
        <a href="{% url 'snap:spotlights' %}" {% if request.path|slice:"6:11" == 'spotl' %} class="active" {% endif %} >Spotlights</a>
        <a href="{% url 'admin:index' %}">Admin</a>
        <form method="post" action="{% url 'snap:logout' %}">
            {% csrf_token %}
            <a href="#" onclick="this.closest('form').submit(); return false;">Logout</a>
        </form>
    </nav>
    {% endblock %}
    {% block body %}
    <div>Body</div>
    {% endblock %}
</body>
</html>