<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Snap Cards</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'snap/style.css' %}">

    <!-- Install DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
</head>
<body>
    <table id="data-table">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column|title }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for card in cards %}
            <tr>
                <td><img src="{{ card.image.url }}"></td>
                <td>{{ card.name }}</td>
                <td>{{ card.cost }}</td>
                <td>{{ card.power }}</td>
                <td>{{ card.description }}</td>
                <td>{{ card.pool }}</td>
                <form action="{% url 'snap:toggle_owned' card.name %}" method="post">
                    {% csrf_token %}
                    <td><input type="checkbox" name="owned" {% if card.owned %} checked {% endif %}></td>
                    <td><input type="submit" value="submit"></td>
                </form>
            </tr>
            {% endfor %}
            <tr>
                <form action="{% url 'snap:add_card' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <td><input type="file" name="image" required></td>
                    <td><input type="text" name="name" required></td>
                    <td><input type="number" name="cost" required></td>
                    <td><input type="number" name="power" required></td>
                    <td><input type="text" name="description" required></td>
                    <td>
                        <select name="pool">
                            <option value="starter">Starter Card</option>
                            <option value="recruit">Recruit Season</option>
                            <option value="1">Pool 1</option>
                            <option value="2">Pool 2</option>
                            <option value="3">Pool 3</option>
                            <option value="4">Pool 4</option>
                            <option value="5">Pool 5</option>
                            <option value="none">None</option>
                        </select>
                    </td>
                    <td><input type="checkbox" name="owned"></td>
                    <td><input type="submit" value="submit"></td>
                </form>
            </tr>
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $('#data-table').DataTable();
        });
    </script>
</body>
</html>