{% extends 'snap/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packs</title>
    {% load static filters %}
    <link rel="stylesheet" href="{% static 'snap/style.css' %}">
    {% endblock %}
</head>
<body>
    {% block body %}
    <h1>Packs</h1>
    <table>
        <tbody>
            {% for pack in packs %}
            <tr>
                <td>{{ pack.get_pack_type_display }}</td>

                <td>{{ pack.date }}</td>

                <td><img src="{{ pack.main_card.image.url }}"></td>

                {% if pack.bonus_card1 %}
                <td><img src="{{ pack.bonus_card1.image.url }}"></td>
                {% endif %}

                {% if pack.bonus1 != 'card' %}
                <td>{{ pack.get_bonus1_display }}</td>
                {% endif %}

                {% if pack.bonus_card2 %}
                <td><img src="{{ pack.bonus_card2.image.url }}"></td>
                {% endif %}

                {% if pack.bonus2 != 'card' %}
                <td>{{ pack.get_bonus2_display }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
</body>
</html>